
#walrus-showing {
  display: block;
}

  .clickable {
  cursor: pointer;
  color: #0088cc;
}

.clickable:hover {
  text-decoration: underline;
}

#walrus-hidden {
  display: none;
}

/* p {
  cursor: pointer;
  color: #0088cc;
}

p:hover {
  text-decoration: underline;
} */
